<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/NGINX-horiz-white-type-RGB.png" width="350" height="150">
    <HelloWorld msg="这是我的第一个网页"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>
