<template>
  <div class="secure">
    <h1>If you see this page, you already login.</h1>
    <img src="../assets/girl.jpg"/>
  </div>
</template>


<script>
    export default {
        name: 'Secure',
        data() {
          return {}
        },
        mounted() {
            if(!this.$parent.authenticated) {
                this.$router.replace({ name: "Login" });
            }
        },
        methods: {
        }
    }
</script>